coverage==4.3.1
matplotlib==1.5.3
numpy==1.11.3
numpydoc==0.6.0
pandas==0.19.2
pytest==3.0.5
pytest-cov==2.4.0
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
sklearn==0.0
Sphinx==1.5.1
sphinx-gallery==0.1.7
sphinx-rtd-theme==0.1.9